apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: controller
rules:
  - apiGroups: ["*"]
    resources: ["*"]
    verbs: ["get", "watch", "list", "create", "update", "patch", "delete"]
  - apiGroups: [ "apps"]
    resources: [ "*" ]
    verbs: [ "get", "watch", "list", "create", "update", "patch", "delete" ]