apiVersion: apps/v1
kind: Deployment
metadata:
  name: demo
  labels:
    app: demo
spec:
  replicas: 3
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: demo
  strategy:
    rollingUpdate:
      maxSurge: 30%
      maxUnavailable: 30%
    type: RollingUpdate
  template:
    metadata:
      annotations:
        configmap-update-last-time: "1111111"
      labels:
        app: demo
    spec:
      containers:
        - name: demo
          image: busybox
          imagePullPolicy: IfNotPresent
          command: ["tail","-f","/dev/null"]
          volumeMounts:
            - mountPath: /tmp
              name: demo
      volumes:
        - configMap:
            name: demo
          name: demo


